.monaco-surface {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Monaco editor (codicon + container) */
@font-face {
    font-family: "codicon";
    src: url('https://cdn.jsdelivr.net/npm/vscode-codicons@0.0.17/dist/codicon.ttf') format("truetype");
}