[data-theme="dark"] {
    --node-graph-background: transparent; /* #2a2d2e */
    --node-graph-content: #808080;
    --node-graph-connector: #606060;
    --node-graph-info: #606060;
    --node-graph-info-hover: #a0a0a0;   
}
[data-theme="light"] {
    --node-graph-background: transparent; /* #2a2d2e */
    --node-graph-content: #808080;
    --node-graph-connector: #606060;
    --node-graph-info: #606060;
    --node-graph-info-hover: #a0a0a0;   
}

.node-graph {
    --indent: 16px;
    --connector-width: 12px;
    user-select: none;
}

.node-graph .node {
    position: relative;
    display: block;
    padding-left: var(--connector-width);
    margin-left: 0;
    min-height: 18px;
}

.node-graph .node-children {
    margin-left: var(--indent);
    padding-left: 4px;
}

.node-graph .node-connector {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--connector-width);
    pointer-events: none;
}

.node-graph .node-connector::before {
    content: '';
    position: absolute;
    left: 6px;
    top: 8px;
    bottom: -2px;
    width: 0;
    border-left: 1px solid var(--node-graph-content);
}

.node-graph .node-connector.node-connector-weak::before {
    border-left: none;
    width: 2px;
    left: 5px;
    background-image: radial-gradient(circle, var(--node-graph-connector) 1px, transparent 1px);
    background-size: 2px 4px;
    background-repeat: repeat-y;
    background-position: 0 0;
}

.node-graph>.node>.node-connector::before {
    display: none;
}

.node-graph summary,
.node-graph .node-label {
    cursor: pointer;
    padding: 2px 4px;
    border-radius: 2px;
    display: inline-block;
    max-width: 100%;
}

.node-graph summary:hover,
.node-graph .node-label:hover {
    background: var(--node-graph-background);
}

.node-graph summary {
    list-style: none;
}

.node-graph summary::-webkit-details-marker {
    display: none;
}

.node-graph summary::before {
    content: '⯈';
    display: inline-block;
    width: 12px;
    font-size: 10px;
    color: var(--node-graph-content);
}

.node-graph details[open]>summary::before {
    content: '⯆';
}


.node-graph .node-info {
    margin-left: 4px;
    color: var(--node-graph-info);
    cursor: help;
}

.node-graph .node-info:hover {
    color: var(--node-graph-info-hover);
}

#editor-gui-sidebar-graph > .node > .node-connector {
    width: 0;
}

#editor-gui-sidebar-graph > .node {
    padding-left: 0;
}

.node-clickable > .node-label {
    text-decoration: underline;
}